body {
    background: linear-gradient(#a2d2ff, pink);
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    
}

#birthday-date {
    background: #EFB0C9;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 0px;

}

#birthday-age {
    margin: 15px 0 15px 0;
    background: #EFB0C9;
    padding: 7px 14px;
    border-radius: 5px;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.message {
    margin: 50px;
    margin-bottom: 10px;
    
}   

.surpise {
    margin-top: 0px;
    margin-bottom: 10px;
}

.gift {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image: url("images/Gift-.jpg");
    background-size: cover;
    background-position: center;
}

.gift2 {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border: 6px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image: url("images/Gift-.jpg");
    background-size: cover;
    background-position: center;
}


.Message2 {
    margin-top: 50px;
}

#gift1:hover {
    background-image: url("images/Birthday_Penguins.gif");
}

#gift2:hover {
    background-image: url("images/smile.gif");
}

#gift3:hover {
    background-image: url("images/Rection.gif");
}

#gift4:hover {
    background-image: url("images/Deadpool_dance.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/Cheers.gif");
}

#last_part {
    color: white;
    width: 400px;
    margin: 50px auto 30px auto;
    font-style: italic;
}

a {
    color: white;
}



