body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #a2d2ff;
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    
}

#birthday-date {
    background: #EFB0C9;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 0px;

}

#birthday-age {
    margin: 15px 0 15px 0;
    background: #EFB0C9;
    padding: 7px 14px;
    border-radius: 5px;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.message {
    margin: 50px;
    margin-bottom: 10px;
    
}   

.surpise {
    margin-top: 0px;
    margin-bottom: 10px;
}

.gift {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image: url("Gift-.jpg");
    background-size: cover;
}

.gift:hover {
    background-image: url("Birthday_Penguins.gif");
}

.Message2 {
    margin-top: 50px;
}

.gift2 {
    border: 6px solid white;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image: url("Gift-.jpg");
    background-size: cover;
}

#gift1:hover {
    background-image: url("Birthday_Penguins.gif")
}

#gift2:hover {
    background-image: url("smile.gif")
}


/*
Challenge:
First, wrap the HTML elements in a <div> with an 
id called "header".

Then, select the "header" and use flexbox to achieve
the layout you've been provided in the design slide.
*/